body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0d0d58; 
}
.container {
    text-align: center;
    background-color: #255ed7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #286cff;
    width: 90%;
    max-width: 600px;
    border: 2px solid #041642;
}
h1 {
    color: #070735;
}
p {
    color: #070735;
    font-size: 1.1em;
}
button {
    background-color: #0c2460;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
button:hover {
    background-color: #3402fb;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
ul li {
    background-color: #5b7ff7;
    color: #070735;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o campo de entrada */
input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #0c2460;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
    background-color: rgb(131, 153, 225);
}
input[type="text"]:focus {
    border-color: #0c2460;
    box-shadow: inset 0 2px 4px #0c2460;
    
}
input::placeholder {
    color: #070735;
    opacity: 0.7;
}
p#mensagemErro {
    color: #600909; /* Cor vermelha para mensagens de erro */
    font-weight: bold;
    margin-top: 10px;
}
p#mensagemSucesso {
    color: #0b610b; /* Cor verde para mensagens de sucesso */
    font-weight: bold;
    margin-top: 10px;
}